################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrashCourseWeb/obj/project.nuget.cache
/CrashCourseWeb/obj/project.assets.json
/CrashCourseWeb/obj/CrashCourseWeb.csproj.nuget.g.props
/CrashCourseWeb/obj/CrashCourseWeb.csproj.nuget.dgspec.json
/CrashCourseWeb/obj/Debug/net6.0/CrashCourseWeb.GeneratedMSBuildEditorConfig.editorconfig
/CrashCourseWeb/obj/Debug/net6.0/CrashCourseWeb.csproj.AssemblyReference.cache
/CrashCourseWeb/obj/Debug/net6.0/CrashCourseWeb.assets.cache
/.vs/CrashCourseWeb/v17/.suo
/.vs/CrashCourseWeb/FileContentIndex/9755847c-bd72-47ee-9187-fd2aeb664cae.vsidx
/.vs/CrashCourseWeb/FileContentIndex/018a2ed8-2ae8-4923-be75-283729c3eb84.vsidx
/.vs/CrashCourseWeb/FileContentIndex/204f790e-0c5d-44b2-bb69-5a2d677d7e5b.vsidx
/.vs/CrashCourseWeb/FileContentIndex/c61413e2-dea4-4982-8aad-4903c0111e18.vsidx
/.vs/CrashCourseWeb/FileContentIndex/d9e155f0-c31d-42c0-a15c-75d1ce303cf4.vsidx
/.vs/CrashCourseWeb/FileContentIndex/e0ca98cf-2f2a-40c5-9f60-2fca1a94dde4.vsidx
/.vs/CrashCourseWeb/DesignTimeBuild/.dtbcache.v2
/.vs/CrashCourseWeb/FileContentIndex/8d645c77-8d58-488c-ae60-7a54685f0889.vsidx
/.vs/CrashCourseWeb/FileContentIndex/0f885dd5-5504-45b2-808d-51bdd3a88462.vsidx
/.vs/CrashCourseWeb/FileContentIndex/a997f761-58b6-4a0b-a182-ed0a1032817b.vsidx
/.vs/CrashCourseWeb/FileContentIndex/ca8100d7-b164-4bd2-ac42-c12c32d2eb72.vsidx
/.vs/CrashCourseWeb/FileContentIndex/d5b3e27b-ad8d-43d8-be13-37208cb72eee.vsidx
/.vs/CrashCourseWeb/FileContentIndex/read.lock
/.vs/CrashCourseWeb/v17/.futdcache.v2
/.vs/ProjectEvaluation/crashcourseweb.metadata.v7.bin
/.vs/ProjectEvaluation/crashcourseweb.projects.v7.bin
/CrashCourseWeb/bin/Debug/net6.0/appsettings.json
/CrashCourseWeb/bin/Debug/net6.0/CrashCourseWeb.staticwebassets.runtime.json
/CrashCourseWeb/bin/Debug/net6.0/CrashCourseWeb.dll
/CrashCourseWeb/bin/Debug/net6.0/CrashCourseWeb.pdb
/CrashCourseWeb/obj/Debug/net6.0/CrashCourseWeb.csproj.CoreCompileInputs.cache
/CrashCourseWeb/obj/Debug/net6.0/CrashCourseWeb.csproj.FileListAbsolute.txt
/CrashCourseWeb/obj/Debug/net6.0/CrashCourseWeb.dll
/CrashCourseWeb/obj/Debug/net6.0/CrashCourseWeb.genruntimeconfig.cache
/CrashCourseWeb/obj/Debug/net6.0/CrashCourseWeb.pdb
/CrashCourseWeb/obj/Debug/net6.0/refint/CrashCourseWeb.dll
/CrashCourseWeb/obj/Debug/net6.0/staticwebassets.build.json
/CrashCourseWeb/obj/Debug/net6.0/staticwebassets.development.json
/CrashCourseWeb/obj/Debug/net6.0/staticwebassets.pack.json
/CrashCourseWeb/obj/Debug/net6.0/ref/CrashCourseWeb.dll
